<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<div layout:fragment="content" style="display: contents;">
	<div class="views">
		<div class="view view-main">
			<div class="pages">
				<div data-page="forgotPassword" class="page">
					<div class="page-content">
						<div class="header_centre">
							<div class="logo_image">
								<img class="logo_fix_img" src="/images/logo.png" alt="" title=""  />
							</div>
							<div class="header_login">
								<h4>Forgot Password</h4>
							</div>
							<div class="loginform">
								<form id="ForgotForm" method="post">
									<input type="text" name="Email" value=""
										class="form_input required" placeholder="email" /> <input
										type="submit" name="submit" class="form_submit" id="submit"
										value="RESEND PASSWORD" />
								</form>
								<div class="signup_bottom">
									<p>Check your email and follow the instructions to reset
										your password.</p>
								</div>
								<div class="signup_bottom">
									<a th:href="@{/}">BACK</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/htmlScript::script"></div>
</div>
</html>